// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Rowdies:wght@300;400;700&display=swap');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.main {
    font: 100% $font-stack;
    color: $primary-font-color;
    background-color: $background-color;
    height: 100vh;
}
.fullscreen-bg {
    display: flex;
    align-content: center;
    justify-content: center;
    max-height: 100vh;
    z-index: 2;
}
//WELCOME WELCOME WELCOME WELCOME WELCOME WELCOME
body {
    margin: 0%;
    background: $background-color;
}
.logo-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    max-width: 100%;
    padding: 3rem;
}
.fullscreen-video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -10;
}
//INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX
.ncolor{
    background-color: $navcolor;
}
.estructura{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.h1_main{
    color:$primary-font-color;
    font-family:$titlesfont;
    text-transform: uppercase;	
    padding-left: 1rem;
    padding-top: 1.5rem;
}
.catalogo{
    margin: 1rem;
    display: inline-block;
    
}
.img_catalogo{
    max-width: fit-content;
    max-height: 28vh;
}
.img_catalogo img :hover{
    background: url("/public/img/vhs_the.png") no-repeat;
    max-width: fit-content;
    max-height: 28vh;

}

.txt_catalogo{
    color: $primary-font-color;
    font-size: $textCatalogFontSize;
}
.star{
    margin: 0.2rem;
    height: 0.8rem;
    width: 0.8rem;
}

.boxFeaturing{
    margin: 0.5rem;
    display: flex;
    align-items: baseline;
}

// GENRE BUTTONS 

.genre-action{
    background-color: $genreActionColor;
    border-radius: $genreRadius;
    text-align: $genreTextAlign;
    font-family:$titlesfont;
    color: $primary-font-color;
    text-transform: $genreTextTransform;
    max-width: $genreWidth;
    font-size: $genreTextSize;
    padding-left: $genrePaddingLeft;
    padding-right: $genrePaddingRight;
}
.genre-horror{
    @extend .genre-action;
    background-color: $genreHorrorColor;
}

.genre-adventure{
    @extend .genre-action;
    background-color: $genreAdventureColor;
}
.genre-comedy{
    @extend .genre-action;
    background-color: $genreAdventureColor;
}
.genre-scifi{
    @extend .genre-action;
    background-color: $genreAdventureColor;
}


//DETAILS DETAILS DETAILS 
.details_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.h1_details{
    color:$primary-font-color;
    font-family:$titlesfont;
    text-transform: uppercase;	
    padding-top: 1.5rem;
    font-size: $detailTitle;
    text-align: $detailTitleAlign;
}
.img_details{
    max-width: 90vw;
    padding: 0.8rem;
}
.catalogo_details{
    margin: 1rem;
    display: flex;
    align-items: baseline;
}
.description_details{
    @extend .txt_catalogo;
    text-align: center;
    padding: 0.5rem;
}

